<div class="overdraft">
    <form #myForm="ngForm" [formGroup]="overdraftForm">
        <div class="row">
            <p>Valor mínimo $100.000 y valor máximo $1'000.000</p>
        </div>
        <div class="row">
            <mat-form-field class="col-6">
                <input matInput placeholder="Valor(*)" formControlName="value" type="number" (blur)="saveOverdraft()">
                <mat-error *ngIf="overdraftForm.controls.value.errors?.max">El valor debe ser máximo $1'000.000</mat-error>
                <mat-error *ngIf="overdraftForm.controls.value.errors?.min">El valor debe ser mínimo $100.000</mat-error>
            </mat-form-field>
        </div>
    </form>
</div>