<div class="page">
    <div class="title">
        Lista de prestamos rechazados
    </div>
    <div class="titleItem">
        <div class="titleItemName">
            <div>
                Nombre Solicitante
            </div>
            <div>
                Cédula
            </div>
        </div>
        <div>
            Valor
        </div>
    </div>
    <div class="list" *ngFor="let overdraft of overdraftService.overdraftsUsers">

        <div class="item" *ngIf="overdraft.answer === false">
            <div class="titleName">
                <div>
                    {{overdraft.user.name}}
                </div>
                <div>
                    {{overdraft.user.identification}}
                </div>
            </div>
            <div>
                ${{overdraft.amount}}
            </div>
        </div>
    </div>

</div>