<div class="page">
    <div class="title">
        Lista de prestamos aprobados
    </div>
    <div class="titleItem">
        <div class="titleItemName">
            <div>
                Nombre Solicitante
            </div>
            <div>
                Cédula
            </div>
        </div>
        <div>
            Valor
        </div>
        <div>
            Pagar
        </div>
    </div>
    <div class="list" *ngFor="let overdraft of overdraftService.overdraftsUsers">
        <div class="item" *ngIf="overdraft.answer === true">
            <div class="titleName">
                <div>
                    {{overdraft.user.name}}
                </div>
                <div>
                    {{overdraft.user.identification}}
                </div>
            </div>
            <div>
                ${{overdraft.amount}}
            </div>
            <div *ngIf="overdraft.status === 'negative'">
                <button mat-flat-button color="primary" (click)="pay(overdraft)">Pagar</button>
            </div>
            <div *ngIf="overdraft.status === 'positive'">
                finalizado
            </div>
        </div>
    </div>
    
</div>